---
import { getBlogPagination, tags, toSlug } from "../../utils/blog.js";
import type { Page } from 'astro';
import Layout from "../../layouts/Layout.astro";
import BlogPost from "../../components/BlogPost.astro";
import Pagination from "../../utils/widgets/Pagination.astro";
import SearchBar from "../../components/SearchBar.astro";


export const prerender = true;

export async function getStaticPaths({paginate}) {
  return getBlogPagination(paginate);
}

const { page } = Astro.props as { page: Page<any> };


---

<Layout pageTitle="Blog">
  <div class="catcon" >
  {tags.map((tags) => (
    <p class="tags">
      <a href={`/tags/${toSlug(tags)}`}><button>{tags}</button></a>
    </p>
  ))
  }
  <SearchBar id="search" />
  </div>
  
<div class="grid-container">
    {
      page.data.map((post) => (
        <BlogPost
          url={`/blog/posts/${post.id}/`}
          title={post.data.title}
          image={post.data.image.url}
          description={post.data.description}
          pubDate={post.data.pubDate}
        />
        <line class="mobile-line"></line>
      ))
    }
   
</div>

  <Pagination page={page}/>
  </Layout
>

<style lang="scss" is:global>
  .catcon {
    display: inline-flex;
    overflow-x: scroll;
    width: 100%;
    align-items: center;
     &::-webkit-scrollbar {
      display: none;
    }
    white-space: nowrap;
    & > .tags a button {
      color: var(--text);
    }
    
  }
  p.tags {
    margin: 0.25rem;
    padding: 0.4rem;
    overflow: visible;
    width: auto;
    border: var(--bor2);
    border-radius: var(--br);
    flex-wrap: nowrap;
    transition: var(--trns);
    &:hover {
      scale: 1.06;
      transition: var(--trns);
    }
  }
</style>
