---
const { title, image, url, description, pubDate } = Astro.props;
---

<div class="card">
  <div class="resim">
    <a href={url}>
      <img
        class="blogimg"
        src={image}
        alt={image.alt}
        transition:name={`image-${url}`}
      />
    </a>
  </div>

  <div class="baslik">
    <a href={url} transition:name={`title-${url}`}
      ><h2>
        {title}
      </h2></a
    >
  </div>
  <div class="dategrid">
    <p class="date">{pubDate?.toLocaleDateString()}</p>
  </div>
  <div class="aciklama">
    <a href={url}><div><p>{description}</p></div> </a>
  </div>
  <div class="gozat">
    <a href={url}><button>Read More</button></a>
  </div>
</div>
<line class="mobile-line"></line>

<style lang="scss" is:global>
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto;
    gap: 30px 20px;
    margin: 20px auto;
    max-width: 900px;
    width: 100%;
    & > .card {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      gap: 10px 10px;
      justify-self: start;
      & > .resim {
        grid-row: 2 / 4;
        align-self: start;
        margin-top: 10px;
      }
      & > .baslik {
        grid-column: 1 / 3;
        display: block;
        justify-self: start;
        align-items: center;
        overflow: hidden;
      }
      & > .dategrid {
        grid-column: 3 / 4;
        display: block;
        justify-self: end;
        align-self: center;
        overflow: hidden;
      }
      & > .aciklama {
        grid-column: 2 / 4;
        text-align: start;
      }
      & > .gozat {
        grid-column: 3 / 4;
        display: block;
        justify-self: end;
        align-self: end;
        & button {
          color: var(--text);
          border: var(--bor2);
          padding: 5px 20px;
          font-size: var(--font-size-1);
        }
      }
    }
  }
  .mobile-line {
    display: none;
  }
  @container body (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
      & > .card {
        grid-template-columns: repeat(2, 1fr);
        & > .resim {
          grid-row: 2 / 4;
          align-self: start;
          text-align: start;
        }
        & > .baslik {
          grid-column: 1 / 3;
          display: flex;
          align-items: center;
        }
        & > .dategrid {
          grid-column: 3 / 4;
          display: block;
          justify-self: end;
          align-self: center;
          overflow: hidden;
        }
        & > .aciklama {
          grid-column: 2 / 4;
          display: block;
          overflow-wrap: break-word;
          overflow: hidden;
        }
        & > .gozat {
          grid-column: 3 / 4;
          display: block;
          justify-self: end;
          align-self: end;
        }
      }
    }
    .mobile-line {
      display: inline;
      background: var(--text);
      width: 95%;
      height: 0.1px;
      justify-self: center;
      opacity: 0.25;
    }
  }
</style>
