---
import Layout from "../../../layouts/Layout.astro";
import BlogPost from "../../../components/BlogPost.astro";
import Pagination from "../../../utils/widgets/Pagination.astro";
import { getTagsPagination } from "../../../utils/blog.js";

export async function getStaticPaths({ paginate }) {
return getTagsPagination(paginate);
}

const { page, tags } = Astro.props;
---

<Layout pageTitle={`Tags: ${tags}`}>
  <p>Posts tags with {tags}</p>
  <div class="grid-container">
    {
      page.data.map((post) => (
        <BlogPost
          url={`/blog/posts/${post.id}/`}
          title={post.data.title}
          image={post.data.image?.url}
          description={post.data.description}
          pubDate={post.data.pubDate}
        />  
        <line class="mobile-line"></line>
      ))
    }
  </div>

  <Pagination page={page} />

</Layout>

<style lang="scss" is:global>

</style>